[Desktop Entry]
Name = RuneLite
GenericName = RuneLite
Comment = Open source Old School RuneScape client.
Exec = runelite
Icon = runelite
Terminal = true
Type = Application
Categories = Game;
NoDisplay = false

